.r1{
    background-color:black;
    color: white;
    width: 80%;
    
}
.head{
    color:white ;
    
}
.bi{
    float: left;
    font-size: 12px;
    
}
span{
    visibility: hidden;
}

i:hover  span{

    visibility: visible;
}

.con{
    background-color: rgb(163,157,157) ;
    height: 920px;
}
.col{
    background-color: white;
    height: 750px;
}
