<div class="container-fluid r2 ">
    
        <h1 class="text-center head pt-5">Air Ticket Automation</h1>

    <div class="row ">
        <div class="col-11 mt-3"></div>
    <div class="col-1 mt-3">
        <button class="btn r1 " id="b1" type="submit"><i class="bi bi-house" ><span>home</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/maneger"><i class="bi bi-airplane-fill"><span>add flight</span></i></button><br><br>
        <button class="btn  r1" type="submit" routerLink="/view" ><i class="bi bi-hexagon"><span>view flights</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/view1"><i class="bi bi-hexagon"><span>manger view reservation</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/view2"><i class="bi bi-person-fill"><span>manger view user</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/view3"><i class="bi bi-hexagon"><span>manger view cancel reg</span></i></button><br><br>
        <button class="btn r1 " id="b1" type="submit" routerLink="/main-homepage"><i class="bi bi-box-arrow-right"><span>mainpage</span></i></button>

    </div>
    </div>



</div>
