.r1{
    background-color:rgb(113,116,148);
    color: white;
    width: 80%;
    
    
}
span{
    font-size: 16px;
}
.bi1{
    font-size: 15px;
}
.head{
    color:purple ;
    
}
.bi{
    float: left;
    font-size: 12px;
    
}
/* span{
    visibility: hidden;
}

i:hover  span{

    visibility: visible;
} */

.con{
    background-color:#d5e9e9 ;
    height: 920px;
}
.col{
    background-color: white;
    height: 750px;
}
