<div class="container-fluid  ">
    
        <h3 class="text-center pt-5 head">maneger Add Flight</h3>
        <div class="card car mt-3  rounded">
          <div class="card-body">
            
          
    
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="input-group">
                <input type="number" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Flight Number</label>
              </div>
        
              <div class="input-group">
                <input type="date" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Depature Date</label>
              </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Flight company</label>
              </div>
        
              <div class="input-group">
                <input type="time" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Depature Time</label>
              </div>
              <div class="input-group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Source</label>
              </div>
              <button class="btn  b1 float-end" type="submit">Add</button>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="date" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Arrival Date</label>
              </div>
        
              <div class="input-group">
                <input type="number" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>No.of seats</label>
              </div>
              <div class="input-group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Destination</label>
              </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="time" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Arrival Time</label>
              </div>
        
              <div class="input-group">
                <input type="number" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Amount per seat</label>
              </div>
        </div>
        <div class="col-1"></div>
    <div class="col-1  text-end mt-3">
       
    </div>
    </div>
  </div>
</div>



</div>
