<div class="container-fluid">
  <h3 class="text-center head pt-5">User Booking Flights</h3>
  <div class="row">
    <div class="c0l">
        <div *ngFor="let r of alluser">
        
            <div class="card fw-bold car">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                              id:<span class="text-black">{{ r.flightdata._id }}</span>
                            </p>
                            <p>
                              Flightnumber:<span class="text-black">{{
                                r.flightdata.flightnumber
                              }}</span>
                            </p>
                            <p>
                              Flightname:<span class="text-black">{{
                                r.flightdata.flightname
                              }}</span>
                            </p>
                            <p>
                              Arrivaldate:<span class="text-black">{{
                                r.flightdata.arrivaldate
                              }}</span>
                            </p>
                            <p>
                              Arrivaltime:<span class="text-black">{{
                                r.flightdata.arrivaltime
                              }}</span>
                            </p>
                          </div>
                          <div class="col-sm-4">
                            <p>
                              DepatureTime:<span class="text-black">{{
                                r.flightdata.depaturetime
                              }}</span>
                            </p>
                            <p>
                              Depaturedate:<span class="text-black">{{
                                r.flightdata.depaturedate
                              }}</span>
                            </p>
                            <p>
                              Seats:<span class="text-black">{{ r.flightdata.seats }}</span>
                            </p>
                            <p>
                              Amont<span class="text-black">{{ r.flightdata.amount }}</span>
                            </p>
                            <p>
                              Source:<span class="text-black">{{
                                r.flightdata.source
                              }}</span>
                            </p>
                          </div>
                          <div class="col-sm-4">
                            <p>
                              Destination:<span class="text-black">{{
                                r.flightdata.destination
                              }}</span>
                            </p>
                            <p>
                              Bookingid:<span class="text-black">{{
                                r.bookdata.bookingid
                              }}</span>
                            </p>
                            <p>
                              Bookingdate:<span class="text-black">{{
                                r.bookdata.bookingdate
                              }}</span>
                            </p>
                            <p>
                              username:<span class="text-black">{{
                                r.bookdata.userid
                              }}</span>
                            </p>
                            <p>
                              noofseats:<span class="text-black">{{
                                r.bookdata.noofseats
                              }}</span>
                            </p>
                            <p>
                              Totalamount:<span class="text-black">{{
                                r.bookdata.totalamount
                              }}</span>
                            </p>
                            <p>
                              Status:<span class="text-black" *ngIf="r.bookdata.status == 1"
                                >Booked</span
                              >
                            </p>
                          </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>  

  



