<div class="container-fluid">
    <div class="row r1 p-2">
        <h1 class="text-center">Air Ticket Automation</h1>
    </div>
    <div class="float-sm-end mt-3">
        <button class="btn r1 " id="b1" type="submit"><i class="bi bi-house" ><span>home</span></i></button><br><br>
        <button class="btn r1 " type="submit"><i class="bi bi-type"><span>bout</span></i></button><br><br>
        <button class="btn  r1" type="submit"><i class="bi bi-telephone-fill"><span>contact</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/admin"><i class="bi bi-box-arrow-in-right"><span>adminlogin</span></i></button><br><br>
        <button class="btn r1 " type="submit" routerLink="/user"><i class="bi bi-box-arrow-in-right"><span>userlogin</span></i></button><br><br>
        <button class="btn r1 " type="submit"><i class="bi bi-search"><span>search</span></i></button>

    </div>


</div>