.r1{
    background-color:rgb(134, 203, 243);
    color:black;
    width: 100%;
}
.head{
    color:white;
}

.bimage{
    background-image: url(src\assets\fli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}
.par{
    color:white;
    margin-top: 180px;
    font-size: 60px;
    font-family: cursive;
}
