.r1{
    background-color:rgb(134, 203, 243);
    color:black;
    
}
.head{
    color:white;
}

.bimage{
    background-image: url(src\assets\fli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    
   
}
.par{
    color:white;
    margin-top: 100px;
    font-size: 40px;
    font-family: cursive;
}
span{
    color:white;
}
