<div class="container-fluid ">
  <h1 class="text-center head pt-5">Air Ticket Automation</h1>

  <div class="row">
    <h3 class="text-center mt-5 head">User Registration Form</h3>
    
        
        <div class="col-3 mt-5"></div>
      
        <div class="col-2 mt-3 ">
          <label class="label ms-1">Firstname</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label">Email</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label ms-5">Address</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example">
        </div>
        <div class="col-2 mt-3">
          <label class="label">Lastname</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label">Phoneno</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br /><br><br><br>
          <button class="btn mb-5 bt text-end" type="submit">update</button>
        </div>
        <div class="col-2 mt-3">
            <label class="label">Username</label><br />
            <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
            <label class="label">Gender</label><br>
            <input type="radio" name="Gender" value="male">male<br>
            <input type="radio" name="Gender" value="female">female
        </div>
        <div class="col-2"></div>
    
    
    <div class="col-1 mt-3">
      <button class="btn r1" type="submit" routerLink="/user5"><i class="bi bi-airplane-fill"><span> user booking flight</span></i></button><br /><br />
      <button class="btn r1" type="submit" routerLink="/user6">
        <i class="bi bi-hexagon"
          ><span>user view flight details</span></i
        ></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/user7">
        <i class="bi bi-hexagon"><span>user view booking</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/user8">
        <i class="bi bi-hexagon"><span>user payments</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/user9">
        <i class="bi bi-hexagon"><span>user view regservation</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/search">
        <i class="bi bi-search"><span>search flights</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/user10">
        <i class="bi bi-hexagon"><span>user view cancel reg</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit" routerLink="/user11">
        <i class="bi bi-hexagon"><span>user change password</span></i></button
      ><br /><br />

      <button class="btn r1" id="b1" type="submit" routerLink="/main-homepage">
        <i class="bi bi-box-arrow-right"><span>mainpage</span></i>
      </button>
    </div>
  </div>
</div>
