<div class="container-fluid ">
  <h3 class="text-center head pt-5">User View Profile</h3>

  <div class="row">
    <h3 class="text-center mt-5 head">User Registration Form</h3>
    
        
        <div class="col-3 mt-5"></div>
      
        <div class="col-2 mt-3 ">
          <label class="label ms-1">Firstname</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label">Email</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label ms-5">Address</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example">
        </div>
        <div class="col-2 mt-3">
          <label class="label">Lastname</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
          <label class="label">Phoneno</label><br />
          <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br /><br><br><br>
          <button class="btn mb-5 bt text-end" type="submit">update</button>
        </div>
        <div class="col-2 mt-3">
            <label class="label">Username</label><br />
            <input class="form-control" type="text" placeholder="" aria-label="default input example"><br /><br />
            <label class="label">Gender</label><br>
            <input type="radio" name="Gender" value="male">male<br>
            <input type="radio" name="Gender" value="female">female
        </div>
        <div class="col-2"></div>
    
    
    <div class="col-1 mt-3">
      
    </div>
  </div>
</div>
