<div class="container-fluid">
    <div class="row">
        <h1 class="text-center hh mt-5">Air Ticket Automation</h1>
        <div class="col-4 sm m-auto">
            <div class="card car">
                <div class="card-body">
                    <Form>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Username" placeholder="Username">
                            <label for="code4">Username</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Bookid" placeholder="Bookid">
                            <label for="code4">Bookid</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Cardtype" placeholder="Cardtype">
                            <label for="code4">Cardtype</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Cvvnumber" placeholder="Cvvnumber">
                            <label for="code4">Cvvnumber</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control" name="Auccountnumber" placeholder="Auccountnumber">
                            <label for="code4">Auccountnumber</label>
                        </div><br><br>
                        <button class="btn text-center but" type="submit">Button</button>
                    </Form>  
                </div>
              </div>

        </div>
        
        <div class="col-1">
            <button class="btn r1 " id="b1" type="submit" routerLink="/user4"><i class="bi bi-pencil-fill"><span>user view profile</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user5"><i class="bi bi-airplane-fill"><span> user booking flight</span></i></button><br><br>
    <button class="btn  r1" type="submit" routerLink="/user6" ><i class="bi bi-hexagon"><span>user view flight details</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user7"><i class="bi bi-hexagon"><span>user view booking</span></i></button><br><br>
    
    <button class="btn r1 " type="submit" routerLink="/user9"><i class="bi bi-hexagon"><span>user view regservation</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/search"><i class="bi bi-search"><span>search flights</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user10"><i class="bi bi-hexagon"><span>user view cancel reg</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user11"><i class="bi bi-hexagon"><span>user change password</span></i></button><br><br>

    <button class="btn r1 " id="b1" type="submit" routerLink="/main-homepage"><i class="bi bi-box-arrow-right"><span>mainpage</span></i></button>

        </div>
    </div>
</div>
