<div class="container-fluid">
    <div class="row">
        <h3 class="text-center hh mt-5">User Payments</h3>
        <div class="col-4 sm m-auto">
            <div class="card car">
                <div class="card-body">
                    <Form>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Username" placeholder="Username">
                            <label for="code4">Username</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Bookid" placeholder="Bookid">
                            <label for="code4">Bookid</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Cardtype" placeholder="Cardtype">
                            <label for="code4">Cardtype</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control"  name="Cvvnumber" placeholder="Cvvnumber">
                            <label for="code4">Cvvnumber</label>
                        </div><br>
                        <div class="form-floating ">
                            <input type="text" class="form-control" name="Auccountnumber" placeholder="Auccountnumber">
                            <label for="code4">Auccountnumber</label>
                        </div><br><br>
                        <button class="btn text-center but" type="submit">Button</button>
                    </Form>  
                </div>
              </div>

        </div>
        
        <div class="col-1">
            

        </div>
    </div>
</div>
