<div class="container-fluid">
    <div class="row">
        <h3 class="text-center hh mt-5">User Payments</h3>
        <div class="col-8 sm m-auto">
            <div class="card car">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <img
                  class="im"
                  height="450"
                  width="100%"
                  src="\assets\card.jpeg"
                />
                        </div>
                        <div class="col-6">
                            <Form>
                                <div class="form-floating ">
                                    <input type="text" class="form-control"  name="Username" placeholder="Username">
                                    <label for="code4">Username</label>
                                </div><br>
                                <div class="form-floating ">
                                    <input type="text" class="form-control"  name="Bookid" placeholder="Bookid">
                                    <label for="code4">Bookid</label>
                                </div><br>
                                <div class="form-floating ">
                                    <input type="text" class="form-control"  name="Cardtype" placeholder="Cardtype">
                                    <label for="code4">Cardtype</label>
                                </div><br>
                                <div class="form-floating ">
                                    <input type="text" class="form-control"  name="Cvvnumber" placeholder="Cvvnumber">
                                    <label for="code4">Cvvnumber</label>
                                </div><br>
                                <div class="form-floating ">
                                    <input type="text" class="form-control" name="Auccountnumber" placeholder="Auccountnumber">
                                    <label for="code4">Auccountnumber</label>
                                </div><br><br>
                                <div class="text-center">
                                
                                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Pay
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">wish you a happy journey</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="" src="assets\journey.jpeg">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
                                </div>
                            </Form>
                        </div>
                    </div>
                      
                </div>
              </div>

        </div>
        
        
    </div>
</div>

