<div class="container-fluid r2">
  <h1 class="text-center head pt-5">Air Ticket Automation</h1>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <h2 class="text-center head mt-3">Login</h2>
      <div class="card car mt-5">
        <div class="card-body">
          <div class="row mt-5">
            <div class="col-6">
              <h4 class="head">Username:</h4>
              <h4 class="mt-5 head">Password:</h4>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control p-2"
                name="username"
                placeholder="enter your name"
              /><br /><br />
              <input
                type="password"
                class="form-control p-2"
                name="password"
                placeholder=" enter your password"
              /><br /><br />
              <button type="button" class="btn lb" routerLink="/admin1">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 text-end mt-3">
      <button class="btn r1" id="b1" type="submit">
        <i class="bi bi-house"><span>home</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit">
        <i class="bi bi-type"><span>bout</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit">
        <i class="bi bi-telephone-fill"><span>contact</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit">
        <i class="bi bi-box-arrow-in-right"><span>adminlogin</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit">
        <i class="bi bi-box-arrow-in-right"><span>userlogin</span></i></button
      ><br /><br />
      <button class="btn r1" type="submit">
        <i class="bi bi-search"><span>search</span></i>
      </button>
    </div>
  </div>
</div>
