.r1{
    background-color:rgb(139,131,177);
    color: white;
    width: 100px;
}
.head{
    color: purple;
}
.lb{
    background-color: rgb(139,131,177);
    color: white;
}


span{
    visibility: hidden;
}

i:hover  span{

    visibility: visible;
}
.r2{
    background-image: url(src\assets\flight.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}