<div class="container-fluid">
    <h3 class="hh text-center">Search Flights</h3>
    <div class="row">
        <div class="col-4 sm "></div>
        <div class="col-4 sm ">
            <div class="card car mt-5">
                <div class="card-body">
                   <label class="label">Source:</label>
                   <input class="form-control p-3" type="text" placeholder="" aria-label="default input example"><br /><br />
                   <label class="label">Destination:</label>
                   <input class="form-control p-3" type="text" placeholder="" aria-label="default input example"><br /><br />
                   <button class="btn b1 m-auto" type="submit">search</button>

                </div>
              </div>
        </div>
        <div class="col-3 sm "></div>
        <div class="col-1 mt-3 ">
            
        </div>
    </div>
  </div>
