<div class="container-fluid r2">
  
    <h1 class="text-center head pt-5">Air Ticket Automation</h1>
  
  <div class="row">
    <h3 class="text-center re">Registration</h3>
    <div class="col-10 m-auto" >
        <div class="row">
    
    <div class="col-3 ">
      <div class="input-group">
        <input type="text" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Firstname</label>
      </div>

      <div class="input-group">
        <input type="email" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
    </div>
    <div class="col-3 ">
        <div class="input-group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Lastname</label>
          </div>
    
          <div class="input-group">
            <input type="radio" name="gender" class="d-inline p-2 bg-primary w-25">Malue
            <input type="radio" name="gender" class="d-inline p-2 bg-dark w-25">Female
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Gender</label>
          </div>
    </div>
    <div class="col-3 ">
        <div class="input-group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
          </div>
    
          <div class="input-group">
            <input type="number" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Phoneno</label>
          </div>
          <button class="btn sb text-center mt-5" type="submit" routerLink="/user1">submit</button>
    </div>
    <div class="col-3 ">
        <div class="input-group">
        <input type="password" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>

      <div class="input-group">
        <input type="text" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Address</label>
      </div>
    </div>
    </div>
    </div>
    

    <div class=" col-1   mt-3">
        <button class="btn r1 " type="submit"><i class="bi bi-house" ><span class="s1">Home</span></i></button><br><br>
      <button class="btn r1 " type="submit"><i class="bi bi-type"><span class="s1">bout</span></i></button><br><br>
      <button class="btn r1" type="submit"><i class="bi bi-telephone-fill"><span class="s1">contact</span></i></button><br><br>
      <button class="btn r1" type="submit" routerLink="/admin"><i class="bi bi-box-arrow-in-right"><span class="s1">adminlogin</span></i></button><br><br>
      <button class="btn r1" type="submit" routerLink="/user"><i class="bi bi-box-arrow-in-right"><span class="s1">userlogin</span></i></button><br><br>
      <button class="btn r1" type="submit"><i class="bi bi-search"><span class="s1">search</span></i></button>
    </div>
    
  </div>
</div>
