<div class="container-fluid ">
  
    <h1 class="text-center head pt-5">Air Ticket Automation</h1>
  
  
    <h3 class="text-center re">Registration</h3>
    
        
    <form [formGroup]="Registrationform">
    
        <div class="row">
    <div class="col-2"></div>
    
    <div class="col-2 ">
      <div class="input-group">
        <input type="text" required  formControlName="firstname" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Firstname</label>
      </div>

      <div class="input-group">
        <input type="email" required  formControlName="email" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
    </div>
    <div class="col-2 ">
        <div class="input-group">
            <input type="text" required  formControlName="lastname" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Lastname</label>
          </div>
    
          <div class="input-group">
            <input type="radio" name="gender"  value="male"  class="d-inline p-2 bg-primary w-25" formControlName="gender" >Male
            <input type="radio" name="gender"  value="female" class="d-inline p-2 bg-dark w-25" formControlName="gender" >Female
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Gender</label>
          </div>
    </div>
    <div class="col-2 ">
        <div class="input-group">
            <input type="text" required  formControlName="username" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
          </div>
    
          <div class="input-group">
            <input type="number" required  formControlName="mobileno" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Phoneno</label>
          </div>
          <button class="btn sb text-center mt-5" type="submit" (click)="useradd()">submit</button>
    </div>
    <div class="col-2 ">
        <div class="input-group">
        <input type="password" required formControlName="password" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>

      <div class="input-group">
        <input type="text" required  formControlName="address" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Address</label>
      </div>
    </div>
    <div class="col-2"></div>
    <p class="p1 text-center mt-5">you have already Account<span class="sp1" routerLink="/user1">Login</span></p>
    </div>
    </form>
  
    
    

    
    
  
</div>
