<div class="container-fluid  ">
    
        <h3 class="text-center head pt-5">Manager view User</h3>
        <div class="row">
        <div class="col-sm-5">
          <div *ngFor="let r of users">
            <div class="card rounded car">
              <div class="card-body">
                <div class="container fw-bold">
                <div class="row">
                  <p>id: <span class="text-black">{{ r._id }}</span></p>
                  <p>firstname: <span class="text-black">{{ r.firstname }}</span></p>
                  <p>lastname: <span class="text-black">{{ r.lastname }}</span></p>
                  <p>username: <span class="text-black">{{ r.username }}</span></p>
                  <p>email: <span class="text-black">{{ r.email }}</span></p>
                  <p>mobileno: <span class="text-black">{{ r.mobileno }}</span></p>
                  <p>address: <span class="text-black">{{ r.address }}</span></p>
                  
                 
                </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </div>

    
</div>
