<div class="container-fluid  ">
    
        <h3 class="text-center head pt-5">Manager view User</h3>

    <div class="row ">
        <div class="col-12">
            <table class="table table-striped">
                
                <thead>
                  <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">FristName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Emailid</th>
                    <th scope="col">Gender</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Address</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              
          </table>
        </div>
    
    </div>



</div>
