<div class="container-fluid  ">
    
    <h1 class="text-center head pt-5">Air Ticket Automation</h1>

<div class="row ">
    <div class="col-11 mt-3"></div>
<div class="col-1 mt-3">
    <button class="btn r1 " id="b1" type="submit" routerLink="/user4"><i class="bi bi-pencil-fill"><span>user view profile</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user5"><i class="bi bi-airplane-fill"><span> user booking flight</span></i></button><br><br>
    <button class="btn  r1" type="submit" routerLink="/user6" ><i class="bi bi-hexagon"><span>user view flight details</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user7"><i class="bi bi-hexagon"><span>user view booking</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user8"><i class="bi bi-hexagon"><span>user payments</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/user9"><i class="bi bi-hexagon"><span>user view regservation</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="/search"><i class="bi bi-search"><span>search flights</span></i></button><br><br>
   
    <button class="btn r1 " type="submit" routerLink="/user11"><i class="bi bi-hexagon"><span>user change password</span></i></button><br><br>

    <button class="btn r1 " id="b1" type="submit" routerLink="/main-homepage"><i class="bi bi-box-arrow-right"><span>mainpage</span></i></button>

</div>
</div>
