<div class="container-fluid">
  <h3 class="text-center head pt-5">User Cancel Registration</h3>

  <div class="row">
    <div class="col-12">
      <div>
        <div class="card car fw-bold">
          <div class="card-body">
              <div class="container">
                  <div class="row">
                      <!-- <div class="col-sm-4">
                          <p>id:<span class="text-black"></span></p>
                          <p>Flightnumber:<span class="text-black"></span></p>
                          <p>Flightname:<span class="text-black"></span></p>
                          <p>Arrivaldate:<span class="text-black"></span></p>
                          <p>Arrivaltime:<span class="text-black"></span></p>
                      </div>
                      <div class="col-sm-4">
                          <p>DepatureTime:<span class="text-black"></span></p>
            <p>Depaturedate:<span class="text-black"></span></p>
            <p>Seats:<span class="text-black"></span></p>
            <p>Amont<span class="text-black"></span></p>
            <p>Source:<span class="text-black"></span></p>
           
                      </div>
                      <div class="col-sm-4">
                          <p>Destination:<span class="text-black"></span></p>
            <p>Bookingid:<span class="text-black">{{r.id}}</span></p>
            <p>Bookingdate:<span class="text-black">{{r.bookingdate}}</span></p>
            <p>username:<span class="text-black">{{r.username}}</span></p>
            <p>noofseats:<span class="text-black">{{r.noofseats}}</span></p>
            <p>Totalamount:<span class="text-black">{{r.totalamount}}</span></p>
                      </div> -->
                      <button class="btn bb m-auto mt-3" type="submit" routerLink="user8">Cancalpayments</button>
                  </div>
              </div>
          </div>

      </div>
      </div>

    </div>
  </div>
</div>
