<div class="container-fluid">
    <div class="row">
        <h3 class="text-center hh">Change Password</h3>
        <div class="col-4 sm"> </div>
        <div class="col-4 sm">
            <div class="card car mt-5 rounded">
                <div class="card-body">
                 <label class="lab">UserName:</label><br>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"><br><br>
                 <label class="lab">Password:</label><br>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"><br><br>
                 <label class="lab">change password:</label><br>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"><br><br>
                 <div class="text-center">
                    <button class="btn btn-primary" type="submit">change password</button>
                 </div>
                </div>
            </div>
            
        </div>
        <div class="col-4 sm"></div>

              
    </div>
</div>
