<div class="container-fluid r2">
    <h1 class="text-center head pt-5">Air Ticket Automation</h1>
  
    <div class="row">
      <div class="col-3 mt-5"></div>
      <div class="col-2 mt-5">
        <label class="label ms-1">Flight Company:</label><br />
        <input class="form-control" type="text" placeholder="" aria-label="default input example"/><br /><br />
        <label class="label">Departure date:</label><br />
        <input class="form-control" type="text" placeholder="" aria-label="default input example"/><br /><br />
        <label class="label ms-5">Source:</label><br />
        <input class="form-control"type="text" placeholder="" aria-label="default input example" />
      </div>
      <div class="col-2 mt-5">
        <label class="label ms-1">Arrival date:</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        /><br /><br />
        <label class="label">Departure Time</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        /><br /><br />
        <label class="label ms-5">Destination:</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        /><br />
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Flight Number</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Booking Id</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Booking Date</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Seats</label>
          </div>
         
         
       </div>
      <div class="col-2 mt-5">
        <label class="label ms-1">Arrival Time</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        /><br /><br />
        <label class="label">no.of.seats</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        /><br /><br />
        <label class="label ms-5">Amount per seat</label><br />
        <input
          class="form-control"
          type="text"
          placeholder=""
          aria-label="default input example"
        />
      </div>
      <div class="col-2 mt-5"></div>
      <div class="col-1 mt-3">
        <button class="btn r1" id="b1" type="submit" routerLink="/user4">
          <i class="bi bi-pencil-fill"><span>user view profile</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user5">
          <i class="bi bi-airplane-fill"
            ><span> user booking flight</span></i
          ></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user6">
          <i class="bi bi-hexagon"
            ><span>user view flight details</span></i
          ></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user7">
          <i class="bi bi-hexagon"><span>user view booking</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user8">
          <i class="bi bi-hexagon"><span>user payments</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user9">
          <i class="bi bi-hexagon"><span>user view regservation</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/search">
          <i class="bi bi-search"><span>search flights</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user10">
          <i class="bi bi-hexagon"><span>user view cancel reg</span></i></button
        ><br /><br />
        <button class="btn r1" type="submit" routerLink="/user11">
          <i class="bi bi-hexagon"><span>user change password</span></i></button
        ><br /><br />
  
        <button class="btn r1" id="b1" type="submit" routerLink="/main-homepage">
          <i class="bi bi-box-arrow-right"><span>mainpage</span></i>
        </button>
      </div>
    </div>
  </div>
  