.r1{
    background-color:rgb(77, 110, 116);
    color: white;
    width: 100%;
    
}
.head{
    color:purple;
    
}
/* 
span{
    visibility: hidden;
    font-size: 12px;
}

i:hover  span{

    visibility: visible;
} */
span{
    font-size: 14px;
}
.con{
    background-color:#E5E4E2 ;

}
.col{
    background-color: white;
    
}
.bi{
    float: left;
    font-size: 10px;
    
}

