<div class="container-fluid con   ">
    <h1 class="text-center head ">Air Ticket Automation</h1>

<div class="row ">
   
<div class="col-1 mt-3">
    <button class="btn r1 " id="b1" type="submit" routerLink="home1"><i class="bi bi-pencil-fill"><span>home</span></i></button><br><br>
    
    <button class="btn r1 " id="b1" type="submit" routerLink="user4"><i class="bi bi-pencil-fill"><span> profile</span></i></button><br><br>
    <button class="btn  r1" type="submit" routerLink="user6" ><i class="bi bi-hexagon"><span> flight details</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user5"><i class="bi bi-airplane-fill"><span>flight booking</span></i></button><br><br>
    
    <button class="btn r1 " type="submit" routerLink="user7"><i class="bi bi-hexagon"><span>booking</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user8"><i class="bi bi-hexagon"><span> payments</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user9"><i class="bi bi-hexagon"><span> view reg</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="search"><i class="bi bi-search"><span>search flights</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user10"><i class="bi bi-hexagon"><span> cancel reg</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user11"><i class="bi bi-hexagon"><span> change password</span></i></button><br><br>

    <button class="btn r1 " id="b1" type="submit" routerLink="/main-homepage"><i class="bi bi-box-arrow-right"><span>Logout</span></i></button>

</div>
<div class="col-11 mt-3 col">
       
    <router-outlet></router-outlet>
</div>
</div>



</div>
