.r1{
    background-color:black;
    color: white;
    width: 100%;
    
}
.head{
    color:white ;
    
}

span{
    visibility: hidden;
}

i:hover  span{

    visibility: visible;
}
.con{
    background-color:rgb(163, 157, 157) ;
    height: 1000px;
}
.col{
    background-color: white;
    height: 890px;
}
.bi{
    float: left;
    font-size: 18px;
    
}

