.r1{
    background-color:black;
    color: white;
    width: 100%;
    
}
.head{
    color:white ;
    
}

span{
    visibility: hidden;
    font-size: 12px;
}

i:hover  span{

    visibility: visible;
}
.con{
    background-color:rgb(163, 157, 157) ;

}
.col{
    background-color: white;
    width: 1215px;
}
.bi{
    float: left;
    font-size: 10px;
    
}

