<div class="container-fluid con p-2  ">
    <div class="row">
        <div class="col-10">
            <h1 class="text-center head pt-5">Air Ticket Automation</h1>
        </div>
       
        <div class="col-2">
            <img class="rounded  "  width="320" height="150" src="assets\dash1.png"> 
        </div>
        
        
    </div>
    
    


<div class="row ">
    <div class="col-10 mt-3 col">
        <router-outlet></router-outlet>
    </div>
<div class="col-2 mt-3">
    
    <button class="btn r1 " id="b1" type="submit" routerLink="user4"><i class="bi bi-pencil-fill"><span>user view profile</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user5"><i class="bi bi-airplane-fill"><span> user booking flight</span></i></button><br><br>
    <button class="btn  r1" type="submit" routerLink="user6" ><i class="bi bi-hexagon"><span>user view flight details</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user7"><i class="bi bi-hexagon"><span>user view booking</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user8"><i class="bi bi-hexagon"><span>user payments</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user9"><i class="bi bi-hexagon"><span>user view regservation</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="search"><i class="bi bi-search"><span>search flights</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user10"><i class="bi bi-hexagon"><span>user view cancel reg</span></i></button><br><br>
    <button class="btn r1 " type="submit" routerLink="user11"><i class="bi bi-hexagon"><span>user change password</span></i></button><br><br>

    <button class="btn r1 " id="b1" type="submit" routerLink="/main-homepage"><i class="bi bi-box-arrow-right"><span>mainpage</span></i></button>

</div>
</div>



</div>
