<div class="container-fluid  ">
    
    <h3 class="text-center head pt-5">User View Flights Details</h3>

<div class="row ">
    <div class="col-12 mt-3">
        <!-- <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Flightnumber</th>
                    <th scope="col">Flightname</th>
                    <th scope="col">Arrivaldate</th>
                    <th scope="col">Arrivaltime</th>
                    <th scope="col">Depaturedate</th>
                    <th scope="col">Depaturetime</th>
                    <th scope="col">Seats</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                </tbody>
              
          </table> -->
          <div class="card">
            <div class="row">
                <div class="col-6">
                    <div class="card-header">
                       <h1 class="text-center head" >User View Flight Details</h1>
                    </div>
                    <div class="card-body">
                        <p>Flightnumber:</p>
                        <p>Flightnumber:</p>
                        <p>Flightnumber:</p>

                    </div>
                </div>
                <div class="col-6"></div>
            </div>
          </div>
    </div>

</div>
